@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;


}
/* share style */
.display-flex{
    display:flex;
}
.dark-1{
    color:#131313;
}
.text-gray{
    color:#424242;
}
.text-dark-gray{
    color:#727272;
}
.bg-color{
    background-color:rgba(255, 144, 14, 0.1);
}
.main-width{
    max-width: 1440px;
    margin:0 auto;
}
.btn-primary{
    background-color: #FF900E;
    color:white;
    max-width: 580px;
    padding: 10px 20px;
    height: 44px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: none;
}

/* header style */


/* navbar style */
.navbar{
    justify-content:space-between;

    
    
}
.nav-item{
    list-style: none;
    margin:20px;
}
.nav-link{
    text-decoration: none;
    
}
.navbar,.banner{
    max-width: 1940px;
    
    
    
    margin:0 auto;
}
/* banner related style */
.banner-container{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-size: 0.9rem;
    margin-top:10px;
}
.banner-image img{
    max-width: 100%;
    
    
}
/* section-1 style */
.section-1{
    justify-content: center;
    align-items: center;
    margin-top:130px;
}
.section-1-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:20px;
    padding: 20px;
    gap:20px;
}
.section-1-heading{
    font-size: 2.5rem;
    font-weight: 700;
    
}
.features{
    color:#FF900E
}
.section-1-subheading{
    margin-bottom: 30px;
}

/* responsive media qurey */
@media screen and (max-width: 576px) {
    /* For mobile screens */
    .navbar,.banner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner-container{
        padding: 20px;
    }
    
}