@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;


}
/* share style */
.display-flex{
    display:flex;
}
.dark-1{
    color:#131313;
}
.text-gray{
    color:#424242;
}
.text-dark-gray{
    color:#727272;
}
.bg-color{
    background-color:rgba(255, 144, 14, 0.1);
}
.main-width{
    max-width: 1440px;
    margin:0 auto;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}
.btn-primary{
    background-color: #FF900E;
    color:white;
    max-width: 580px;
    padding: 10px 20px;
    height: 44px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: none;
}

/* header style */


/* navbar style */
.navbar{
    justify-content:space-between;

    
    
}
.nav-item{
    list-style: none;
    margin:20px;
}
.nav-link{
    text-decoration: none;
    
}
.navbar,.banner{
    max-width: 1940px;
    
    
    
    margin:0 auto;
}
/* banner related style */
.banner-container{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-size: 0.9rem;
    margin-top:10px;
}
.banner-image img{
    max-width: 100%;
    
    
}
/* section-1 style */
.section-1{
   
    justify-content: center;
    align-items: center;
    margin-top:130px;
   
}
.section-1-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:20px;
    padding: 20px;
    gap:20px;
}
.section-1-heading{
    font-size: 2.5rem;
    font-weight: 700;
    
}
.features{
    color:#FF900E
}
.section-1-subheading{
    margin-bottom: 30px;
}
/* section 2 style */
.section-2-features{
    gap:100px;
    margin-bottom: 50px;
}
.section-2-content{
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 20px 30px;
    margin-top: 20px;
}


.section-2-heading{
    font-size: 2.5rem;
    font-weight: 700;
    width: 500px;
    height: 106px;

}
.section-2-heading ,.para{
    width: 500px;
    height: 106px;
    margin-bottom: 40px;


}
.section-2-image img{
    width: 100%;
}
.btn{
    width: 342px;
    height: 200px;
    padding: 20px 20px;
    margin-top: -100px;
    margin-left: -100px;
    
}
.year{
    font-size: 4rem;
    font-weight: 700;
}
.experience{
    font-size: 2rem;
    font-weight: 300;
}


/* section 3 some facts */
.section-3-heading{
    font-size: 2.5rem;
    font-weight: 700;

}

.section-3-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    
}
.section-3-icon{
    border:1px solid #FF900E;
    width: 241.56px;
    height: 241px;
    border-radius: 8px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.section-3-flex, h1{
    font-size: 2.5rem;
    margin-top: 10px;
    

    
}
 .icon-title{
    font-size: 1.25rem;
    
    margin-top:5px;
    color: #727272;
}


/* responsive media qurey for mobile device */
@media screen and (max-width: 576px) {
    /* For mobile screens */
    .navbar,.banner,.section-1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner-container{
        padding: 20px;
    }
    .section-1-images,.section-3-container{
        grid-template-columns: 1fr;
        align-items: center;
        margin:0;
    }
    .section-1-description{
        
        margin-left: 20px;
    }
    .section-2-features{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .section-2-container{
        margin: 0 auto;
    }
    .section-2-content{
        margin: 0 auto;
        
    }
    .btn{

        margin-left: 0;
        width: 241.56px;
        height: 241px;
        margin-top: 20px;
    }
    .section-3-features{
        margin:0 auto;
        align-items: center;
    }

    
}
/* responsive  for medium divice*/
@media screen and (min-width: 576px) and (max-width: 991px){
    /* For medium screens */
    .section-1-images,.section-3-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .section-1{
        flex-direction: column;
    }
    .section-1-description{
        margin-left: 80px;
    }
}